<hr>
<div id="disqus_thread"></div>
<script type="text/javascript">

  /*
   * Load Disqus dinamically when scroll reach bottom of the pages
   */

  var disqus_shortname = 'franklinjavier',
    disqus_url = "{{ metadata.url}}{{ path }}";

  (function() {

    var isLoaded = false;

    function preloadDisqus() {
      var dsq = document.createElement('script'); 

      dsq.type = 'text/javascript'; 
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      var ldr = document.getElementById('disqus_loader');

      // remove event
      isLoaded = true;
      window.onscroll = function() {};
    }

    window.onscroll = function(e) {
      if ((window.innerHeight + window.scrollY) >= (document.body.offsetHeight - 500)) {
        !isLoaded && preloadDisqus();
      }
    };

  }());

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
