{{#if post}}
<div class="comment">
  <!--<hr>-->
  <div class="content">
    <div id="disqus_thread"></div>
  </div>
  <script>
    window.disqus_shortname = 'franklinjavier';
    window.disqus_url = "{{ metadata.url}}{{ path }}";
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{{/if}}
