<footer>
  <div class="content about">
    <div class="about__contact">
      <p>Sinta-se à vontade para entrar em contato:</p>
      <a href="https://github.com/franklinjavier">Github</a> &middot;
      <a href="https://www.linkedin.com/pub/franklin-javier/21/43/985">Linkedin</a> &middot;
      <a href="https://twitter.com/franklinjavier">Twitter</a> &middot;
      <a href="mailto:franklinjalves@gmail.com">E-mail</a> &middot;
      <a href="/pages/about/">Sobre</a>
    </div>
  </div>
</footer>


<script>
eventListener('load', function() {
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-30021850-1', 'auto');
  ga('send', 'pageview');
  blzy();
  Loader.load('/js/main.js');
});
</script>

</body>
</html>

