<footer>
  <section class="about">
    <p>
      Olá, sou {{ metadata.name }}, <a href="http://stackshare.io/franklinjavier" target="_blank">Full-stack</a> developer, de São Paulo, Brasil.
    </p>
    <p>
      <a href="http://github.com/franklinjavier">Github</a> &middot; 
      <a href="https://www.linkedin.com/pub/franklin-javier/21/43/985">Linkedin</a> &middot; 
      <a href="http://twitter.com/franklinjavier">Twitter</a>
    </p>
  </section>
</footer>

  {{#if home}}
  {{else}}
    {{> comments}}
  {{/if}}

  </div> <!-- content__wrap -->
</div>  <!-- content -->



<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>

