{{#if home}}
{{else}}
  {{> comments}}
{{/if}}

  </div> <!-- content__wrap -->
</div>  <!-- content -->

<footer>
  <div class="content about">
    <div class="about__contact">
      <p>Sinta-se à vontade para entrar em contato:</p>
      <a href="http://github.com/franklinjavier">Github</a> &middot;
      <a href="https://www.linkedin.com/pub/franklin-javier/21/43/985">Linkedin</a> &middot;
      <a href="http://twitter.com/franklinjavier">Twitter</a> &middot;
      <a href="mailto:franklinjalves@gmail.com">E-mail</a>
    </div>
  </div>
</footer>


<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>

