<header class="header">

  <div class="gradient"></div>

  {{#unless post}}
  <div class="info content">
    <div class="avatar">
      <a href="/">
        <img src="/img/avatar2.jpg" alt="{{ metadata.name }}" class="radius">
      </a>
    </div>
    <div class="container">
      <h1 class="title">
        <a href="{{ metadata.url }}">{{ metadata.name }}</a>
      </h1>
      <h2 class="description">
        <a href="http://stackshare.io/franklinjavier" target="_blank" title="See my full stack">Front-end</a> developer
      </h2>
      <div class="location">
       <small>São Paulo, Brasil</small>
      </div>

      <div class="about">
        <a href="/pages/about/">Sobre</a>
      </div>

    </div>
  </div>
  {{/unless}}
  
</header>

{{#if post}}
<div class="content">
  <a href="/" class="close icon" title="Página Inicial"></a>&nbsp;
</div>
{{/if}}
