---
interface Props {
  isPost?: boolean;
}

const { isPost = false } = Astro.props;
---

<header class:list={['header', { 'toolbar': isPost }]}>
  <div class="gradient"></div>

  {isPost ? (
    <div class="content">
      <a href="/" class="close icon" title="Página Inicial"></a>&nbsp;
      <!-- Share component will go here -->
    </div>
  ) : (
    <div class="info content">
      <div class="avatar">
        <a href="/">
          <img src="/img/avatar2.jpg" alt="Franklin Javier" class="radius" />
        </a>
      </div>
      <div class="container">
        <h1 class="title">
          <a href="/">Franklin Javier</a>
        </h1>
        <h2 class="description">
          <a href="https://stackshare.io/franklinjavier" target="_blank" rel="noopener" title="See my full stack">
            Front-end
          </a> developer
        </h2>
        <div class="location">
          <small>São Paulo, Brasil</small>
        </div>
        <div class="about">
          <a href="/pages/about/">Sobre</a>
        </div>
      </div>
    </div>
  )}
</header>
