//$primary-color: #0074c1;
//$primary-color: #5a2bd5;
//$primary-color: #3b42bd;
$primary-color: #3069D0;
$secondary-color: #AE65D2;
$background-color: #fff;
$background-header-color: #F9F8F7;

$text-color: #595C62;
$text-h-color: rgba(51, 51, 51, 0.90);
$border-color: #f0f0f0;
$box-color: #fff;

