/* 
 * Footer
 */
@import "colors";

footer {
  border-top: 1px solid $border-color;
  padding: 2em 0;
  margin-top: 3em;
  text-align: center;

  nav {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3.5em;
  }

  nav a {
    padding: 0 0.5em;
    font-size: 1.2em;
    text-decoration: none;
  }

  .copy {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
    margin-top: 1em;
  }

  .copy, .copy a {
    color: #8e8e8e;
  }

}

