/* page header */

@import "colors";
@import "variables";

.header {
  position: relative;
  background-color: #F9F8F7;


  nav {
    -webkit-animation: fadeInDown 1s;
    padding: 3px 0;
    text-align: center;

    a {
      display: inline-block;
      color: #FFF;
      font: 100 16px sans-serif, arial;
      margin-right: 20px;
      text-transform: lowercase;
      padding-bottom: -1px;
    }

    a:hover { 
      text-decoration: none;
      opacity: 0.8; 
      border-bottom: 1px solid #fff;
      padding-bottom: 2px;
    }
  }
        
  a:hover { opacity: 0.8; }

  .avatar {
    width: 80px;
    height: 80px;
    -webkit-animation: zoomInUp 1s;
    display: inline-block;
    img { 
      border-radius: 50%;
      width: 100%;
    }
  }

  .info {
    text-align: center;
    position: relative;
    padding: 5em 0;
    -webkit-animation: zoomInDown 1s;
  }

  .title {
    font-size: 2.0em;
    font-weight: 700;
    margin: 0;
    -webkit-animation: zoomInUp 1s;
    a { color: $text-color; }
    a:hover { 
      text-decoration: none; 
      opacity: 0.9;
    }
  }

  .description {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .logo {
    display: inline-block;
    background: url(/img/favicon.png) no-repeat center center;
    width: 100px;
    height: 100px;
    font-family: arial;
    font-size: 4.2em;
    font-weight: bold;
  }

}


