/* 
 * Home
 */

@import "colors";

article.home-post { margin: 0 0 4em 0; }

.home {

  & > .content { margin-bottom: 4em; }

  article p { cursor: pointer; }
  article:hover h2 a {
    color: $primary-color;
  }

  article h2 {
    font-weight: bold;
    margin: 0.1em 0;

    a {
      color: $text-h-color;
      font-size: 1.25em;
    }

    a:hover { 
      text-decoration: none; 
      color: $primary-color;
    }
  }                  


  .excerpt {
    margin-top: 0.7em;
  }

  time {
    margin: 0.3em 0 0.8em;
    display: block;
  }

}

