/* 
 * Media queries 
 */

@media (max-width: 900px) {
  //body { font-size: 18px; }
}

@media (max-width: 690px) {

  .content {
    width: auto;
    padding: 0 1em;
  }

  .intro h2 {
    line-height: 1.2;
    font-size: 0.9em;
  }

  h1 {
    line-height: 1.2;
    font-size: 1.7em;
  }

  .tags a { 
    margin-right: 2px;
  }

  .header {

    .avatar { 
      width: 80px;
    }

    .title {
      font-size: 1.8em;
    }

    .description {
      font-size: 1em;
    }

    .contact {
      font-size: 0.8em;
    }

  }

  code
  pre {
    font-size: 0.7em;
  }


}


