/* 
 * Media queries 
 * @media (min-width:320px) { smartphones, portrait iPhone, portrait 480x320 phones (Android) }
 * @media (min-width:480px) { smartphones, Android phones, landscape iPhone }
 * @media (min-width:600px) { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) }
 * @media (min-width:801px) { tablet, landscape iPad, lo-res laptops ands desktops }
 * @media (min-width:1025px) { big landscape tablets, laptops, and desktops }
 * @media (min-width:1281px) { hi-res laptops and desktops }
 */

/* Mobile */
@media (max-width: 800px) {

  .content {
    width: auto;
    padding: 0 1em;
  }

  .intro h2 {
    line-height: 1.2;
    font-size: 0.9em;
  }

  h1 {
    line-height: 1.2;
    font-size: 1.7em;
  }

  .tags a { 
    margin-right: 2px;
  }

  .header {

    .avatar { 
      width: 80px;
    }

    .title {
      font-size: 1.8em;
    }

    .description {
      font-size: 1em;
    }

    .contact {
      font-size: 0.8em;
    }

  }

  code
  pre {
    font-size: 0.7em;
  }

  .close.icon { margin-left: 10px; }
  .share { margin-right: 10px; }

}

@media (min-width: 601px) and (max-width: 1080px) {
  .content { padding: 0 4em;} 
}
