.config {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 40px;
  right: 40px;
  background: #242b33;
  -moz-background-size: 80px;
  -o-background-size: 80px;
  -webkit-background-size: 80px;
  background-size: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
}

.config ul {
  width: 200px;
  margin: 0;
}

.config li {
  width: 100px;
  height: 100px;
  float: left;
  text-align: center;
  opacity: 0;
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
}
.config a {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  color: #fff;
  font-weight: 400;
  text-decoration: none;
}
.config i {
  display: block;
  width: 30px;
  height: 30px;
  margin: 40px auto 10px;
  background: center no-repeat;
  background-size: 100%;
}
.config .feed-btn i {
  background-image: url("http://cloud.samuel-renault.com/icon-feed.svg");
}
.config .profile-btn i {
  background-image: url("http://cloud.samuel-renault.com/icon-profile.svg");
  background-size: 115%;
}
.config .draft-btn i {
  background-image: url("http://cloud.samuel-renault.com/icon-draft.svg");
}
.config .signout-btn i {
  background-image: url("http://cloud.samuel-renault.com/icon-signout.svg");
}

.config:hover {
  width: 200px;
  height: 200px;
  background-position: 0 -80px;
}
.config:hover li {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.config:hover li:hover {
  background: #394451;
}

.config {
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.config li {
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.config li:nth-child(1) {
  -moz-transition-delay: 0.07s;
  -o-transition-delay: 0.07s;
  -webkit-transition-delay: 0.07s;
  transition-delay: 0.07s;
}
.config li:nth-child(2) {
  -moz-transition-delay: 0.14s;
  -o-transition-delay: 0.14s;
  -webkit-transition-delay: 0.14s;
  transition-delay: 0.14s;
}
.config li:nth-child(3) {
  -moz-transition-delay: 0.21s;
  -o-transition-delay: 0.21s;
  -webkit-transition-delay: 0.21s;
  transition-delay: 0.21s;
}
.config li:nth-child(4) {
  -moz-transition-delay: 0.28s;
  -o-transition-delay: 0.28s;
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s;
}

