/* 
 * Posts 
 */

@import "colors";

.post {

  margin: 3em 0;

  h1, h2, h3 {
    color: $text-h-color;
  }

  h1 { 
    margin: 0.2em 0;
  }

  .tags {
    margin-top: 0.4em;
  }

}

.post__body {
  margin: 1.5em 0 4em;
}

.post__body img {
  display: block;
  width: 100%;
}        
