/* 
 * Posts 
 */

@import "colors";

.post {
  margin-bottom: 3em;

  h1, h2, h3 {
    color: $text-h-color;
  }

  h1 { 
    margin: 0.2em 0 1em;
  }

  .tags {
    margin-top: 0.8em;
  }

  time { 
    display: block; 
    margin-top: -1.5em; 
  }

}

.post-body {
  margin: 1.5em 0 4em;
}

.post-body img {
  display: block;
  width: 120%;
  margin: 3em -4em;
}        

.page-post { 
  main.content {
    margin-top: 5em;
  }
}

article a[target="_blank"]:after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAgElEQVQYV5XQMQpCQQxF0fNX4G60stFGdyBYuSE3InwQBG20URDclPKKkSAfxXST3FxepvO9nm3c/QDHOGAU8IxZWXhggkB7bHAMGP0clwI3aN36DawRAvVY4VYzxljBHba444pp4CFjve8t+Rtc4vTxVYtc22LFmEeaQ5XlSLwAJVAaAqoDe/cAAAAASUVORK5CYII=");
  margin-left: 5px;
}

