/* 
 * Posts 
 */

@import "colors";

.post {
  margin: 3em 0;

  h1, h2, h3 {
    color: $text-h-color;
  }

  h1 { 
    margin: 0.2em 0 1em;
  }

  .tags {
    margin-top: 0.8em;
  }

  time { 
    display: block; 
    margin-top: -20px; 
  }

}

.post-body {
  margin: 1.5em 0 4em;
}

.post-body img {
  display: block;
  width: 100%;
}        
