@import "reset";
@import "variables";
@import "colors";
@import "base";
@import "code";
@import "home";
@import "post";
@import "archive";
@import "header";
@import "footer";
@import "about";
@import "share";
@import "comment";
@import "form";
@import "pagination";

body {
  font-family: arial, serif;
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1.52;
  background-color: $background-color;
  text-rendering: optimizeLegibility;
  color: $text-color;
}

.content {
  max-width: $content-width;
  margin: 0 auto;
}

@import "mediaqueries";

