@import "reset";
@import "variables";
@import "colors";
@import "base";
@import "code";
@import "home";
@import "post";
@import "archive";
@import "header";
@import "footer";
@import "about";
@import "share";
@import "comment";
@import "form";
@import "pagination";
@import "toolbar";

body {
  font-family: arial, serif;
  font-size: 1.05em;
  font-weight: 400;
  line-height: 1.52;
  background-color: $background-color;
  text-rendering: optimizeLegibility;
  color: $text-color;
}

.content {
  max-width: $content-width;
  margin: 0 auto;
  position: relative;
}

.radius {
  border-radius: 50%;
}

.fixed {
  position: fixed;
}

.close.icon {
  color: #000;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 31px;
  height: 21px;
  left: 0;
}

.close.icon:before {
  content: '';
  position: absolute;
  top: 7px;
  width: 20px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  width: 20px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}


@import "mediaqueries";

