@import "reset";
@import "colors";
@import "code";
@import "home";
@import "post";
@import "archive";
@import "header";
@import "footer";
@import "about";
@import "variables";

body {
  font-family: arial, serif;
  font-size: 1.13em;
  font-weight: 300;
  line-height: 1.52;
  background-color: $background-color;
  text-rendering: optimizeLegibility;
  color: $text-color;
}

.content {
  max-width: $content-width;
  margin: 0 auto;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: all .1s linear;
}

a:hover {
  color: $primary-color;
  text-decoration: underline;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.52em;
}

pre {
  font-size: 0.7em;
  overflow: auto;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 0.25em;
  margin-bottom: 1.8em;
  padding: 1em;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.43;
  margin-bottom: 1.35em;
}

h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.4em;
  margin-top: 1.8em;
  margin-bottom: 0.8em;
}

ol, ul {
  margin: 0 1.4em 1.4em 4em;
}

li {
  margin-bottom: 0.5em;
}

blockquote {
  margin: 1.2em 3em;
  padding-left: 1em;
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px solid $border-color;
  height: 0;
  margin: 1.6em 0;
}

.btn {
  font-family: arial, serif;
  letter-spacing: 0.03em;
  background: rgba($background-color, 0.35);
  display: inline-block;
  color: rgba(0,0,0,0.44);
  font-size: 0.7em;
  text-transform: lowercase;
  border-radius: 2px;
  border: 1px solid #eee;
  padding: 2px 8px;
  margin: 0 5px 5px 0;

  &:hover { 
    text-decoration: none;
    color: lighten($primary-color, 10%);
    border-color: lighten($primary-color, 30%);
    background: rgba($primary-color, 0.1);
  }

  &.-large {
    padding: 4px 10px;
    font-size: 1em;
  }


}

.pagination { 
  text-align: center;
}

time {
  font-size: 0.8em;
  opacity: 0.7;
}

article a[target="_blank"]:after {
  //content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=");
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAgElEQVQYV5XQMQpCQQxF0fNX4G60stFGdyBYuSE3InwQBG20URDclPKKkSAfxXST3FxepvO9nm3c/QDHOGAU8IxZWXhggkB7bHAMGP0clwI3aN36DawRAvVY4VYzxljBHba444pp4CFjve8t+Rtc4vTxVYtc22LFmEeaQ5XlSLwAJVAaAqoDe/cAAAAASUVORK5CYII=");
  margin: 0 0 0 5px;
}

.share {
  text-align: center;

  p {
    margin-bottom: 0.5em;
  }

  a[target="_blank"]:after {
    content: '';
    margin: 0;
  }
}


@import "mediaqueries";

