{{> head}}
{{> header}}

<section class="content">
  <h3>Posts em: <strong>{{ tag }}</strong></h3>
  <ul>
    {{#each posts}}
    <li>
      <a href="/{{ path }}/" title="{{ title }}">
        {{ title }}
      </a>
    </li>
    {{/each}}
  </ul>
</section>

{{> footer}}
